/* BASE */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none;
}
.show {
  display: block;
}
/* Button */
.button {
  margin: 0 auto;
  padding: 0.6em 3.5em;
  font-size: 25px;
  border-style: none;
  border-radius: 20px;
  font-weight: 550;
  max-width: 150px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.tv_color {
  background-color: #89b2f3;
}
.radio_color {
  background-color: #867fca;
}

/* First set-up*/

.set-up_container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.set-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: url(src/img/HOME.svg);
}
.set-up h1 {
  color: #fff;
  font-weight: 800;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}
.set-up p {
  color: #fff;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
  font-size: 30px;
}
.path_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/* 2nd screen */

.chain_choice_container {
  display: flex;
  width: 80%;
  margin: 5% auto;
  justify-content: space-around;
  align-items: center;
}

/*Chain Choice css*/
.chain_choice_container .arrow {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: grey;
}
.chain_choice_container .chain_container {
  background-color: red;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chain_container .chain_img {
  width: 150px;
  height: 150px;
  background-color: tomato;
}

.chain_container .chain_infos {
  width: 80%;
}

.chain_infos p {
  text-align: start;
  font-size: 16px;
}

/* Year choice CSS */

.slidecontainer {
  width: 70vw;
  margin: 15% auto 0 auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 50px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background: #89b2f3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #89b2f3;
  cursor: pointer;
}

.year_choice_display {
  margin-top: 3% !important;
  margin-bottom: 5% !important;
}


/* Hour choice CSS */

.hour_choice_container{
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 2%;
}

.hour_choice_selector{
  width: 21%;
  height: 15%;
  margin: 20 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour_choice_selector .hour_input{
  font-size: 26px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  width: 100%;
  color: black;
  margin-top: 5%;
}