/* BASE */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.hide {
  display: none;
}
.show {
  display: block;
}
/* Button */
.button {
  margin: 0 auto;
  padding: 0.6em 3.5em;
  font-size: 25px;
  border-style: none;
  border-radius: 20px;
  font-weight: 600;
  max-width: 150px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.tv_color {
  background-color: #89b2f3;
}
.radio_color {
  background-color: #867fca;
}


/* First set-up*/

.set-up_container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* Introduction CSS */

.introduction_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 3000px;
  width: 100%;
  background-image: url(src/img/INTRO.svg);
  background-size: cover;
}

.introduction_end_container{
  width: 70vw;
  margin: 0 auto;
  position: absolute;
  top: 2700px;
  left: 14vw;
  color: white;
  text-align: center;
}

.set-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: url(src/img/HOME.svg);
  background-size: cover;
}
.set-up h1 {
  color: #fff;
  font-weight: 800;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}
.set-up p {
  color: #fff;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
  font-size: 30px;
}
.path_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/* 2nd screen */

.chain_choice_container {
  display: flex;
  width: 60vw;
  margin: 5% auto;
  justify-content: space-around;
  align-items: center;
}

/*Chain Choice css*/
.chain_choice_container .arrow {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: grey;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
}
.chain_choice_container .chain_container {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chain_container .chain_img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-image: url(src/img/m6logo.svg);
  background-size: cover;
}

.chain_container .chain_infos {
  width:70%;
}

.chain_infos .chain_title {
  text-align: start;
  font-size: 32px;
  font-weight: 600;
  width: 100% !important;
  margin: 0 !important;
}

.chain_infos .chain_description {
  text-align: start;
  font-size: 24px;
  font-weight: 600;
  width: 100% !important;
  margin: 0 !important;
}

/* Year choice CSS */

.slidecontainer {
  width: 70vw;
  margin: 15% auto 0 auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 50px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background: #89b2f3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #89b2f3;
  cursor: pointer;
}

.year_choice_display {
  margin-top: 3% !important;
  margin-bottom: 5% !important;
}


/* Hour choice CSS */

.hour_choice_container{
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 2%;
}

.hour_choice_selector{
  width: 21%;
  height: 21%;
  margin: 20 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hour_choice_selector .hour_input{
  font-size: 26px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 3vh 0;
  font-weight: 600;
  font-size: 32px;
  color: black;
  margin-top: 5%;
}


/* Main content CSS */

.main_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url(src/img/RECAP.svg);
  background-size: cover;
}

.main_container .recap_container{
  width: 70vw;
  margin: 5% auto;
  height: auto;
}
.recap_container h1{
  color: white;
  text-align: center;
}
.choice_recap_container {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin: 0 auto;
  height: auto;
}
.choice_recap_container .item_recap{
  background-color: #FFB45B;
  padding: 15px 60px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
}

.middle_sht {
  width: 45vw;
  margin: 0 0 5vh 15vw;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

/* Big Chart */

.doughnut_chart_container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  height: auto;
  margin: 5vh auto;
}

.big_chart_container {
  position: relative;
  width: 25vw;
  height: 25vw;
}

/* PLacing charts with middle */

.big_chart_container canvas#bigChart {
  position: absolute;
  top: 0;
  left: 0;
}

.chart_value{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
}

.big_chart_container p.big_chart_value{
  font-size: 70px;
  font-weight: 600;
}


/* Other charts */

.other_doughnut_container {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex_chart_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vw;
}


/* SMaller charts */

.small_chart_1_container {
  position: relative;
  width: 8vw;
  height: 8vw;
}
.small_chart_2_container {
  position: relative;
  width: 8vw;
  height: 8vw;
}

.other_doughnut_container canvas#smallChart1 {
  position: absolute;
  top: 0;
  left: 0;
}
.other_doughnut_container canvas#smallChart2 {
  position: absolute;
  top: 0;
  left: 0;
}

.other_doughnut_container p.small_chart_value{
  font-size: 30px;
  font-weight: 600;
}

.small_chart_description {
  color: white;
  width: 60%;
  font-size: 30px;
}

.hours_total {
  color: white;
  width: 8vw;
  margin: 0 auto;
  font-size: 35px;
  margin-left: 2vw;
}

/* Social networks */

.social_container {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin-left: 15vw;
  margin-bottom: 10vh;
}
.social_container .social_img {
  width: 80px;
  height: 80px;
  margin: 0;
  cursor: pointer;
  background-size: cover;
}

.social_container .social_img a{
  width: 80px;
  height: 80px;
}

.social_container .social_img.fb {
  background-image: url(src/img/facebook.svg);
}
.social_container .social_img.tw {
  background-image: url(src/img/twitter.svg);
}
.social_container .social_img.in {
  background-image: url(src/img/linkedin.svg);
}

/* SIde show */

.side_chart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  height: 30vh;
  margin: 0 auto;
}

.side_chart_container .bluebar {
  width: 10vw;
  height: 2vh;
  border-radius: 5px;
}

.side_chart_container h1 {
  color: white;
  text-align: center;
}
.side_chart_container h3 {
  color: white;
  text-align: center;
}

img.fake{
  width: 70vw;
  margin: 0 auto;
  height: auto;
}